{% extends 'tienda/base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}NiqiChik - Productos{% endblock %}

{% block content %}

<div class="container">
  <form method="POST" enctype="multipart/form-data" class="mb-4">
    {% csrf_token %}

    {% for field in form %}
      <div class="mb-2">
        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
        {{ field|add_class:"form-control" }}
        {% if field.errors %}
          <div class="text-danger small">
            {{ field.errors|striptags }}
          </div>
        {% endif %}
      </div>
    {% endfor %}

    <div class="d-grid">
      <button type="submit" class="btn btn-success">Guardar</button>
    </div>
  </form>
</div>
{% endblock %}


