{% include "barra.html" %}
{% load static %}
<body>
<br>
    {% if user.is_authenticated %}
<table align="center">
<br>
<td><h4 align="center" class="text-white">Realiza tu Publicación!</h4></td>
</table>
<br>
<div class="container">
<div class="row">
    <div class="col-md-2">
    </div>

    <div class="col-md-8">
        <form action="{% url 'CrearPublicacion' %}" method="post" enctype="multipart/form-data" class="">
        {% csrf_token %}
        <div class="input-group mb-3">
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInputGrid" placeholder="Nombre" name="nombre" required>
              <label for="floatingInputGrid">Defina la tarea</label>
            </div>
        </div>

        <div class="input-group mb-3">
            <div class="form-floating">
              <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" name="descripcion" required></textarea>
              <label for="floatingTextarea2">Detalle la tarea a realizar, para que los posibles interesados esten enterados de todo.</label>
            </div>
        </div>
        <div class="input-group mb-3">

            <input type="file" class="form-control" id="imagen" name="imagen" multiple required/>

        </div>
        <div class="input-group mb-3">
            <div class="form-floating">
              <select class="form-select" name="categoria" id="categoria" required>
                <option selected></option>
                {% for a in categorias %}
                <option value="{{a.id}}" >{{a.nombre}}</option>
                {% endfor %}
              </select>
              <label for="categoria">Seleccione una categoría</label>
            </div>
            <div class="form-floating">
              <select class="form-select" name="region" id="region" required>
                <option selected></option>
                {% for a in regiones %}
                <option value="{{a.id}}" >{{a.nombre}}</option>
                {% endfor %}
              </select>
              <label for="region">Seleccione una región</label>
            </div>
        </div>

        <div class="input-group mb-3">

            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInputGrid2" placeholder="Comuna" name="comuna" required>
              <label for="floatingInputGrid">Comuna</label>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control" id="floatingInputGrid3" placeholder="Dirección" name="direccion" required>
              <label for="floatingInputGrid">Dirección</label>
            </div>
            <input type="datetime-local" class="form-control" placeholder="Fecha" name="fecha" id="fecha" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input type="text" class="form-control" placeholder="Precio" name="precio" required>
            <span class="input-group-text">CLP</span>
        </div>
        <div class="col-12">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" required>
              <label class="form-check-label text-white" for="flexSwitchCheckDefault">Estoy de acuerdo con los términos.</label>
            </div>
        </div>
        <div class="col-12">
            <center>
                <button type="submit" class="btn btn-success" style="width: 17rem;">Publicar</button>
            </center>
        </div>
        </form>
    </div>
    {% else %}
{% include "DebesIniciarSesion.html" %}
    {% endif %}
</div>
</div>
{% include "Footer.html" %}
</body>
