{% include "tienda/Menu.html" %}
{% load static %}
{% load custom_filters %}


<div class="contenido">
<div class="container mt-12">
  <h1 class="titulo-scriptify2">Editando producto: <strong>{{ producto.nombre }}</strong></h1>

    <form method="POST" enctype="multipart/form-data" class="card p-4 shadow mt-4">
      {% csrf_token %}

      <!-- Precio -->
      <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Precio actual:</label>
        <div class="col-sm-4">
          <input type="text" class="form-control-plaintext" readonly value="{{ producto.precio|formato_chileno }}">
        </div>
        <label class="col-sm-2 col-form-label">Nuevo precio:</label>
        <div class="col-sm-4">
          {{ form.precio|add_class:"form-control" }}
        </div>
      </div>

      <!-- Stock -->
      <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Stock actual:</label>
        <div class="col-sm-4">
          <input type="text" class="form-control-plaintext" readonly value="{{ producto.stock }}">
        </div>
        <label class="col-sm-2 col-form-label">Nuevo stock:</label>
        <div class="col-sm-4">
          {{ form.stock|add_class:"form-control" }}
        </div>
      </div>

      <!-- Descripción -->
      <div class="mb-3">
        <label class="form-label">Descripción actual:</label>
        <textarea class="form-control-plaintext mb-2" rows="3" readonly>{{ producto.descripcion }}</textarea>
        <label class="form-label">Nueva descripción:</label>
        {{ form.descripcion|add_class:"form-control" }}
      </div>

      <!-- Imagen actual 1 -->
      <div class="mb-3 row">
        <div class="col-sm-6 text-center">
          {% if producto.imagen %}
            <p class="form-label">Imagen actual (original):</p>
            <img src="{{ producto.imagen.url }}" class="img-fluid rounded" style="max-height: 200px;">
          {% endif %}
          <p class="form-label mt-2">Nueva imagen (opcional):</p>
          {{ form.imagen|add_class:"form-control" }}
        </div>

        <!-- Imagen actual 2 -->
        <div class="col-sm-6 text-center">
          {% if producto.imagen2 %}
            <p class="form-label">Imagen actual (puesta):</p>
            <img src="{{ producto.imagen2.url }}" class="img-fluid rounded" style="max-height: 200px;">
          {% endif %}
          <p class="form-label mt-2">Nueva imagen 2 (opcional):</p>
          {{ form.imagen2|add_class:"form-control" }}
        </div>
      </div>

      <div class="d-grid mt-4">
        <button type="submit" class="btn btn-success">Guardar cambios</button>
      </div>
    </form>
</div>
</div>

{% include "tienda/Footer.html" %}
