<div class="menu-izquierdo">
  <!-- Aquí puedes poner lo que quieras o dejarlo como franja decorativa -->
</div>

<div class="menu-izquierdo"></div>
  <nav>
  <div class="row">
    <div class="col-10 col-sm-6 col-md-4 mb-12"> <!-- Responsive: 1 columna en móviles, 2 en tablets, 4 en PC -->
      <h1 class="titulo-scriptify"><img src="../../../media/Productos/LogoSimple.png" alt="Logo Niqi-Chik" class="logo-img"><br>Niqi-Chik </h1>
      <h1 class="titulo-scriptifyMini"> Accesorios y más</h1>
      </div>
  </nav>

<!-- Botón hamburguesa -->
<button class="btn-menu" onclick="toggleMenu()">☰</button>

<div class="menu-derecho" id="menuDerecho">
  <h2>Menú</h2>
    <!--<a href="{% url 'home' %}">Inicio</a>-->
    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- Tus campos aquí -->

    <a href="{% url 'home' %}"><i class="bi bi-house-door"></i> Inicio</a>
  <a class="nav-link" href="{% url 'ver_carrito' %}">
    <i class="bi bi-cart4"></i> Carrito <span id="contador-carrito" class="badge bg-danger">0</span>
  </a>
    {% if user.is_authenticated %}
    <a href="{% url 'agregar_producto' %}"><i class="bi bi-bag-plus-fill"></i> Agregar producto</a>
    <a href="{% url 'categoria' %}"><i class="bi bi-tags"></i> Categoria</a>

    <a href="{% url 'tienda' %}"><i class="bi bi-shop"></i> Mi Tienda</a>
    <a href="{% url 'dashboard' %}"><i class="bi bi-info-circle"></i> Información</a>
      <a href="https://api.whatsapp.com/send?text={{ '✨ ¡Llegaron nuevos productos! 👀 Échales un vistazo, están increíbles 😍 ' | add:'https://www.niqichik.com/'}}">
                <i class="bi bi-whatsapp fs-6"></i> Compartir
              </a>
    <a href="{% url 'logout' %}"><i class="bi bi-door-open"></i> Cerrar sesión</a>
    {% endif %}

    <!-- <a href="{% url 'login' %}"><i class="bi bi-door-open"></i> Iniciar Sesión</a> -->
    </form>

</div>
<!-- Script JavaScript -->

